<div ng-controller="Look.BackOffice.CulturesController">

    <div class="umb-panel-header">

        <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Sort.html'"></ng-include>

        <div class="look-header">
            <span class="icon icon-globe look-header-icon">&nbsp;</span>
            <span class="look-header-title">Cultures</span>
        </div>

    </div>
      <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="look-body">

                <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Matches.html'"></ng-include>

            </div>
        </div>
    </div>

</div>