
<div ng-controller="Look.BackOffice.MatchesController">

    <div class="umb-scrollable">
        <div lazy-load="getMoreMatches()">
        
            {{ matches }}
            <hr/>

            <div ng-repeat="match in matches">

                <span class="match-name">{{match.key}}</span> | 
                <span class="match-key">{{match.name}}</span> |
                <span class="match-id">{{match.id}}</span> |

            </div>

        
        </div>


        <div class="info-banner" ng-show="currentlyLoading">Loading... <a href="" ng-click="cancelGetMoreLogItems()">Cancel</a></div>
        <div class="info-banner" ng-show="finishedLoading && matches.length == 0">No Matches.</div>
        <div class="info-banner" ng-show="finishedLoading && matches.length > 0">Finished Loading.</div>

    </div>

</div>