<div ng-controller="Look.BackOffice.NodeTypeController">

    <div class="umb-panel-header">

        <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Sort.html'"></ng-include>

        <div class="look-header">
            <span class="icon {{viewData.icon}} look-header-icon">&nbsp;</span>
            <span class="look-header-title">{{viewData.name}}</span>
        </div>
        
    </div>
    <div class="umb-panel-body">
        <div class="umb-pane">

            
            <div class="look-body">
               
                <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Matches.html'"></ng-include>

            </div>       

        </div><!-- /umb-pane -->
    </div>
</div>