<div ng-controller="Look.BackOffice.SearcherController">

    <div class="umb-panel-header">

        <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Sort.html'"></ng-include>

        <div class="look-header">
            <span class="icon {{ icon }} look-header-icon">&nbsp;</span>
            <span class="look-header-title">{{ searcherName }}</span>
        </div>
        
    </div>
    <div class="umb-panel-body">
        <div class="umb-pane">

            <!--<pre>viewData = {{viewData|json}}</pre>-->

            
            <div class="look-body">
                <dl>
                    <dt>Name</dt>
                    <dd>{{ searcherName }}</dd>

                    <dt>Description</dt>
                    <dd>{{ searcherDescription }}</dd>

                    <dt>Type</dt>
                    <dd>{{ searcherType }}</dd>


                    <!--
                        
                    <dt>Name Indexing</dt>
                    <dd>YES/NO</dd>

                    <dt>Date Indexing</dt>
                    <dd></dd>

                    <dt>Text Indexing</dt>
                    <dd></dd>

                    <dt>Tag Indexing</dt>
                    <dd></dd>

                    <dt>Location Indexing</dt>
                    <dd></dd>
                    
                    -->
                </dl>
                

               
                <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Matches.html'"></ng-include>

            </div>       

        </div><!-- /umb-pane -->
    </div>
</div>