<div ng-controller="Look.BackOffice.SearcherController">

    <div class="umb-panel-header">

        <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Sort.html'"></ng-include>
        <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Filters.html'"></ng-include>        

        <div class="look-header">
            <span class="icon {{ viewData.icon }} look-header-icon">&nbsp;</span>
            <span class="look-header-title">{{ searcherName }}</span>
        </div>
        
    </div>
    <div class="umb-panel-body">
        <div class="umb-pane">

            <!--<pre>viewData = {{viewData|json}}</pre>-->

            
            <div class="look-body">
                <dl>
                    <dt>Type</dt>
                    <dd>{{ viewData.searcherType }}</dd>
                        
                    <dt>Look Indexing Enabled</dt>
                    <dd><span class="{{ viewData.lookIndexingEnabled ? 'icon-checkbox' : 'icon-checkbox-empty' }}">&nbsp;</span></dd>
                </dl>

                <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Matches.html'"></ng-include>
               
            </div>       

        </div><!-- /umb-pane -->
    </div>
</div>