<div ng-controller="Look.BackOffice.SearcherController">

    <div class="umb-panel-header">

        <div class="look-header">
            <span class="icon {{ viewData.icon }} look-header-icon">&nbsp;</span>
            <span class="look-header-title">{{ searcherName }}</span>
        </div>
        
    </div>
    <div class="umb-panel-body">
        <div class="umb-pane">

            <!--<pre>viewData = {{viewData|json}}</pre>-->

            
            <div class="look-body">
                <dl>
                    <dt>Name</dt>
                    <dd>{{ searcherName }}</dd>

                    <dt>Description</dt>
                    <dd>{{ viewData.searcherDescription }}</dd>

                    <dt>Type</dt>
                    <dd>{{ viewData.searcherType }}</dd>
                        
                    <dt>Look Indexing Enabled</dt>
                    <dd>{{ viewData.lookIndexingEnabled }}</dd>
    
                    <!--<dt>Name Indexer Set</dt>
                    <dd>{{ viewData.nameIndexerSet }}</dd>

                    <dt>Date Indexer Set</dt>
                    <dd>{{ viewData.dateIndexerSet }}</dd>

                    <dt>Text Indexer Set</dt>
                    <dd>{{ viewData.textIndexerSet }}</dd>

                    <dt>Tag Indexer Set</dt>
                    <dd>{{ viewData.tagIndexerSet }}</dd>

                    <dt>Location Indexer Set</dt>
                    <dd>{{ viewData.locationIndexerSet }}</dd>-->
                    
                </dl>
                

               
            </div>       

        </div><!-- /umb-pane -->
    </div>
</div>