<div ng-controller="Look.BackOffice.TagController">

    <div class="umb-panel-header">

        <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Sort.html'"></ng-include>

        <div class="look-header">
            <span class="icon icon-tag look-header-icon">&nbsp;</span>
            <span class="look-header-title">{{ tagGroup ? tagGroup : '&lt;Default&gt;' }}:{{ tagName }}</span>
        </div>

    </div>
      <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="look-body">

                <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Filters.html'"></ng-include>                

                <ng-include src="'/App_Plugins/Look/BackOffice/LookTree/Partials/Matches.html'"></ng-include>

            </div>

        </div>
    </div>

</div>
