<div ng-controller="Look.BackOffice.TagController">

    <div class="umb-panel-header">

        <div class="look-header">
            <span class="icon icon-tag look-header-icon">&nbsp;</span>
            <span class="look-header-title">{{ tagGroup ? tagGroup : '&lt;Default&gt;' }}:{{ tagName }}</span>
        </div>

    </div>
      <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="look-body">

                <hr/>
                <p>{{ response|json }}</p>
                
                <hr/>
                <p>{{ matchesResponse|json}}</p>

                <div class="umb-scrollable">
                    <div lazy-load="getMoreMatches()">
                        loading matches...
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
