<div ng-controller="Look.BackOffice.TagsController">

    <div class="umb-panel-header">

        <div class="look-header">
            <span class="icon icon-delete-key look-header-icon">&nbsp;</span>
            <span class="look-header-title">Tags</span>
        </div>

    </div>
      <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="look-body">


                <hr/>
                <p>{{ response|json }}</p>


            </div>
        </div>
    </div>

</div>