
.look-sort {
    float: right;
    margin:15px;
}

.look-sort label {
    display: block;
    font-size: small;
}


.look-header {
    margin: 35px 15px;
}

.look-header span {
    float: left;
}

.look-header-icon {
    font-size: 70px;
}

.look-header-title {
    font-size: x-large;
}

.look-body {
}

    .look-body dl {
        display: flex;
        flex-flow: row wrap;
    }

    .look-body dt {
        flex-basis: 20%;
        padding: 2px 5px;
        text-align: right;
        background: #333;
        color: #fff;
    }

    .look-body dd {
        flex-basis: 70%;
        flex-grow: 1;
        margin: 0;
        padding: 2px 3px;
        border-bottom: 1px dashed lightgrey;
    }


.look-match-breaker {
    font-size:larger;
}

.look-match {
    margin:5px 0;
    border:solid 1px red;
    clear:both;
    
}

.look-match-score {
    float:right;
    font-size:xx-small;
}

.look-match-icon {
    font-size: 35px;
}

.look-match-tags {

    border:solid 1px yellow;
}

.look-match-tag-group {
    border:solid 1px black;

}
.look-match-tag {
    border:solid 1px blue;
}