<div ng-controller="Look.BackOffice.MatchesController">

    <div lazy-load="getMoreMatches()">
        <div ng-repeat="match in matches">

            <div class="look-match-breaker" ng-if="nameBreaker(match, matches[$index -1])">
                <p>{{match.name.charAt(0)}}</p>
            </div>

            <div class="look-match" ng-class-even="'even'" ng-class-odd="'odd'">
                
                <span class="look-match-score">{{match.score}}</span>
                
                <span class="look-match-type{{match.isDetached ? ' look-match-detached' : ''}}">
                    <span class="look-match-detached-icon icon-out" ng-if="match.isDetached">&nbsp;</span>
                    <span class="look-match-icon {{match.icon}}">&nbsp;</span>                                        
                </span>

                <div class="look-match-umbraco-details">
                    <div><span>Path: </span> {{match.path}}<a href="{{match.link}}">{{match.linkText}}</a>{{ match.isDetached ? '\\' + match.name : ''}}</div>
                    <div><span>Id: {{match.id}}</span></div>
                    <div><span>Key: {{match.key}}</span></div>
                    <div><span>Culture: </span> {{match.culture}}</div>

                    <!--<div><span>Name: </span> {{match.name}}</div>
                    <div><span>Date: </span> {{match.date | date:'d MMMM yyyy, HH:mm:ss'}}</div>-->
                </div>
                
                <div class="look-match-look-details">
                    Look
                </div>


                <div class="look-match-tags">
                    <span class="look-match-no-tags" ng-if="match.tagGroups.length === 0">No Tags</span>
                    <div class="look-match-tag-group" ng-repeat="tagGroup in match.tagGroups">
                        <span class="icon icon-tags">&nbsp;</span>
                        <a ng-if="tagGroup.link !== null" href="{{tagGroup.link}}">{{ tagGroup.name ? tagGroup.name : '&lt;Default&gt;' }}</a>
                        <span ng-if="tagGroup.link === null">{{ tagGroup.name ? tagGroup.name : '&lt;Default&gt;' }}</span>
                                                
                        <span class="look-match-tag" ng-repeat="tag in tagGroup.tags">
                            <span class="icon icon-tag">&nbsp;</span>
                            <a ng-if="tag.link !== null" href="{{tag.link}}">{{tag.name}}</a>
                            <span ng-if="tag.link === null">{{tag.name}}</span>
                            <!--{{ $last ? '.' : ', '}}-->
                        </span>
                    </div>
                </div>


                <div class="look-match-text">
                    Has Text: {{ match.hasText ? 'Yes' : 'No'}}
                </div>

                <div class="look-match-location">
                    Has Location: {{ match.hasLocation ? 'Yes' : 'No'}}
                </div>

                <div style="clear:both;"></div>
            </div>
            

        </div>

    </div>

    <div class="look-banner" ng-show="currentlyLoading">Loading... <a href="" ng-click="cancelGetMoreMatches()">Cancel</a>.</div>
    <div class="look-banner" ng-show="finishedLoading && matches.length === 0">No Matches.</div>
    <div class="look-banner" ng-show="finishedLoading && matches.length === 1">Found 1 Match. <a href="" ng-click="reload()">Reload</a></div>
    <div class="look-banner" ng-show="finishedLoading && matches.length > 1">Found {{matches.length}} Matches. <a href="" ng-click="reload()">Reload</a></div>

</div>
