<div ng-controller="Look.BackOffice.MatchesController">

    <div lazy-load="getMoreMatches()">
        <div ng-repeat="match in matches">

            <div class="look-match-breaker" ng-if="nameBreaker(match, matches[$index -1])">
                <p>{{match.name.charAt(0)}}</p>
            </div>

            <div class="look-match" ng-class-even="'even'" ng-class-odd="'odd'" ng-click="showDetails(match)">
                
                <span class="look-match-score">{{match.score}}</span>

                
                <span class="look-match-type{{match.isDetached ? ' look-match-detached' : ''}}">
                    <span class="look-match-detached-icon icon-out" ng-if="match.isDetached">&nbsp;</span>
                    <span class="look-match-icon {{match.icon}}">&nbsp;</span>                                        
                </span>

                <div class="look-match-checkboxes">
                    <div><span class="{{ match.hasText ? 'icon-checkbox' : 'icon-checkbox-empty' }}">&nbsp;</span>Text</div>
                    <div><span class="{{ match.hasTags ? 'icon-checkbox' : 'icon-checkbox-empty' }}">&nbsp;</span>Tags</div>
                    <div><span class="{{ match.hasLocation ? 'icon-checkbox' : 'icon-checkbox-empty' }}">&nbsp;</span>Location</div>
                </div>


                <div class="look-match-details">
                    <div><span>Name: </span> {{match.name}}</div>
                    <div><span>Date: </span> {{match.date | date:'d MMMM yyyy, HH:mm:ss'}}</div>
                    <div><span>Path: </span> {{match.path + match.pathItem }}{{ match.isDetached ? '\\' + match.name : ''}}</div>
                </div>
                
                <div style="clear:both;"></div>
            </div>
            

        </div>

    </div>

    <div class="look-banner" ng-show="currentlyLoading">Loading... <a href="" ng-click="cancelGetMoreMatches()">Cancel</a>.</div>
    <div class="look-banner" ng-show="finishedLoading && matches.length === 0">No Matches.</div>
    <div class="look-banner" ng-show="finishedLoading && matches.length === 1">Found 1 Match. <a href="" ng-click="reload()">Reload</a></div>
    <div class="look-banner" ng-show="finishedLoading && matches.length > 1">Found {{matches.length}} Matches. <a href="" ng-click="reload()">Reload</a></div>

</div>
